{% case media.media_type %}
  {% when 'image' %}
    <img 
      class="w-full h-full object-cover" 
      src="{{ media | img_url: 'large'}}" 
      alt="{{ media.preview_image.alt }}"
      >
  {% when 'external_video' %}
    {{ media | external_video_tag: class: 'w-full h-80 object-cover' }}
  {% when 'video' %}
    {{ media | video_tag: controls: true, class: 'w-full h-full object-cover ' }}
  {% when 'model' %}
    <product-model>
      <div>
        <button class="w-full h-full bg-gray-100 border relative">
          span.border.bg-gray
          <img 
            src="{{ media | img_url: 'large' }}" 
            alt="{{ media.preview_image.alt }}"
            class="w-full h-full object-cover"
          >
        </button>
      </div>
    </product-model>
  {% else %}
    {{ media | media_tag }}
    
{% endcase %}